<html>
<head>
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <title>&alefsym;₀ :: where the infinite is possible</title>
</head>

<body class="body">
<div class="page-header"><h3 id="navbar" style="text-align:left;">People sometimes ask...</h3></div>
  <div style="margin-left: 10px; display: block; margin-top: 20px;">

    <ul class="fact">
      <li class="fact"><h3>How big is the web?</h3></li>
      <li class="fact"><h3>How big is the deep web?</h3></li>
      <li class="fact"><h3>How big is the <b><i>dark</i></b> web?</h3></li>
    </ul>
    
    <div style="margin-left: 50px; padding-left: 0px; margin-top: 40px;">
      <p style="font-size: 15pt;">This site <b>puts these questions to rest</b>&mdash;each one is infinitely large.  We know this because the set of natural numbers is infinite, and this site generates <b>ESSENTIAL FACTS</b> about <i>every natural number</i>.  Ergo the number of pages on the web, deep web, and dark web is infinite.</p>
    </div>
  </div>

<br/><br/>

<div class="page-header"><h3 id="navbar" style="text-align:left;">And we begin at...</h3></div>

  <h1 id="huge">0</h1>
                <ul class="fact">
                     <li class="fact">Although there remains debate, it's currently believed that in ~683 CE the inhabitants of modern-day Cambodia were the first to discover zero.</li>
                     <li class="fact">By defintion: <span class="helper"> </span>0! = 1.</li>
                     <li class="fact">In Roman numerals, 0 is "nulla".</li>
                     <li class="fact">Whether 0<sup>0</sup> = 1 or undefined remains a matter of dispute.</li>
                </ul>
        </div>

        <div align="center">
              <ul class="pagination pagination-lg">        
                <li class="disabled bullet">&bull;</li>
                <li class="disabled bullet">&bull;</li>
                <li><a href="/random">⇜?⇝</a></li>
                <li><a href="/1">+1 <img src="/static/arrow-right.png" alt=">"/></a></li>
                <li><a href="/10">+10 <img src="/static//arrow-righter.png" alt=">>"/></a></li>

              </ul>
        </div>
        <div align="center"><div style="float: right;"><a href="http://virgil.gr">virgil.gr</a></div>
        <div style="margin: 0 auto";>&alefsym;₀ :: <i>where the only limit is yourself</i> :: &alefsym;₀</div>
        </div>
</body>

</html>

            
            
