<html>
<head>
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <title>&alefsym;₀ :: where the infinite is possible</title>
</head>

<body class="body">
<div class="page-header"><h3 id="navbar">People sometimes ask...</h3></div>
  <div style="margin-left: 200px; display: block; margin-top: 20px;">

    <ul class="fact">
      <li class="fact"><h3>How big is the web?</h3></li>
      <li class="fact"><h3>How big is the deep web?</h3></li>
      <li class="fact"><h3>How big is the <b><i>dark</i></b> web?</h3></li>
    </ul>
    
    <div style="margin-left:-150px; padding-left: 0px; margin-top: 40px;">
      <p>This site puts these questions to rest&mdash;each one is infinitely large.  We know this because the set of natural numbers is infinite, and <i>Aleph naught</i> provides <b>HARD HITTING FACTS</b> about each natural number.</p>
    </div>
  </div>

<br/><br/>

<div class="page-header"><h3 id="navbar" style="text-align:left;"><b>And we begin at...</b></h3></div>

  <h1 id="huge">0</h1>
                <ul class="fact">
                     <li class="fact">Although there remains debate, it's currently believed that the inhabits of modern-day Cambodia were the first to discover zero in ~683 CE.</li>
                     <li class="fact">By defintion: <span class="helper"> </span>0! = 1</li>
                     <li class="fact">0<sup>0</sup> = 1</li>
                     <li class="fact">In Roman numerals, 0 is "nulla".</li>
                </ul>
        </div>


        <div align="center">
              <ul class="pagination pagination-lg">        
                <li class="disabled"><a href="/">⬤</a></li>
                <li class="disabled"><a href="/">⬤</a></li>
                <li><a href="/random">⇜?⇝</a></li>
                <li><a href="/1">+1 ⟶</a></li>
                <li><a href="/10">+10 ⟹</a></li>

              </ul>
        </div>
        <div align="center">&alefsym;₀ :: <i>where the infinite is possible</i> :: &alefsym;₀</div>
</body>

</html>

            
            