<html>
<head>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<title>&alefsym;₀ :: {{num}}</title>

</head>

<!-- hash: {{h}} -->
<body class="body">
<div class="page-header"><h3 id="navbar"><b><a href="/" style="text-decoration: none; color: black;">Aleph naught :: Essential ℕatural ℕumber Facts</a></b></h3></div>

    
	<h1 id="huge">{{ num }}</h1>
        <div style="display: block;">
                <ul class="fact">
        	   {% for p in paragraph %}
	                   <li class="fact">{{ p[0] }}<span class="helper"> </span>{{ p[1] | safe }}</li>
	           {% endfor %}
                </ul>
        </div>


        <div align="center">
              <ul class="pagination pagination-lg">

        {% if num < 10 %}
                <li class="disabled"><a href="/"><img class="bullet" src="/static/moon.png" alt="&bull;"/></a></li>
        {% else %}
                <li><a href="/{{num-10}}"><img class="arrowimg" src="/static/arrow-lefter.png" alt="&lt;&lt;"/> &ndash;10</a></li>        
        {% endif %}

        {% if num == 0 %}
                <li class="disabled"><a href="/"><img class="bullet" src="/static/moon.png" alt="&bull;"/></a></li>
        {% else %}
                <li><a href="/{{num-1}}"><img class="arrowimg" src="/static/arrow-left.png" alt="&lt;"/> &ndash;1</a></li>
        {% endif %}

                <li><a href="/random">⇜?⇝</a></li>
                <li><a href="/{{num+1}}">+1 <img class="arrowimg" src="/static/arrow-right.png" alt="&gt;"/></a></li>
                <li><a href="/{{num+10}}">+10 <img class="arrowimg" src="/static/arrow-righter.png" alt="&gt;&gt;"/></a></li>

              </ul>
        </div>
        <div align="center">&alefsym;₀ :: <i>where the only limit is youself</i> :: &alefsym;₀</div>
</body>

</html>

            
            
